@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400&family=Archivo:wght@300&family=Arimo:wght@400;500&family=Barlow+Semi+Condensed:wght@200&family=Bebas+Neue&family=Comfortaa:wght@300;400&family=DM+Sans:opsz,wght@9..40,300&family=Days+One&family=Frank+Ruhl+Libre&family=Inter+Tight:wght@300&family=Inter:wght@300&family=Jost:wght@300&family=Kanit:wght@100;200&family=League+Spartan:wght@300&family=Noto+Sans+Osmanya&family=Noto+Sans+Tamil:wght@300;400&family=Nunito:ital,wght@1,200;1,400&family=Oswald&family=Outfit:wght@300&family=Poppins:wght@200&family=Questrial&family=Roboto:wght@100;300&family=Saira+Semi+Condensed:wght@100&family=Scada:ital,wght@1,700&family=Staatliches&family=Syne&family=Urbanist:wght@200&family=Yantramanav:wght@300&family=Zen+Kaku+Gothic+New:wght@300;400;700&family=Zen+Maru+Gothic&family=Zilla+Slab:wght@300;400&display=swap');

@media screen and (min-width: 769px) {
    .centered-prompt {
        font-family: 'Alexandria', 'Arimo', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 5em;
        padding: 20px;
        border-radius: 5px;
        word-wrap: break-word; /* Add this line to enable text wrapping */
        width: 100%;
      }
      
      @media (min-width: 1440px) {
        .centered-prompt {
          font-size: 10em; /* Adjust the font size for 1440p screens */
        }
      }
.App {
    height: 100vh;
    width: 100vw;
}

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.countdown{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 100%);
}
@media (min-width: 1440px) {
.countdown{
  font-size: 1.5em;
}
}
/* Position Author on the bottom-left */
.bottom-bar {
    position: fixed;
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    left: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 1.25em;
    opacity: 75%;
    font-family: 'Comfortaa', sans-serif;
  }
  
  .author-note {
   
    text-align: left; /* Align to the left */
  }
  
  /* Position Sketch.Prompt on the bottom-right */
  .sketch-prompt {
    text-align: right; /* Align to the right */
  }
  
  .sketch-prompt a {

    text-decoration: none;
    font-weight: bold;
  }
  
  .sketch-prompt a:hover {
    text-decoration: underline;
  }
  /* Add this CSS to your styles.css file or create a new CSS file for overlay styles */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it appears above other content */
  
}

.overlay-content {
  background-color: #fff; /* White background for the content */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%; /* Adjust the width as needed */
  text-align: center;
  position: relative;
}

.overlay p {
  font-size: 16px;
  color: #333; /* Text color */
  margin: 0;
}

.overlay button {
  background-color: #007bff; /* Blue button background */
  color: #fff; /* Button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.overlay button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
.night-mode {
  background-color: rgb(2, 0, 7);
  
}
.night-mode-toggle {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
}

/* Hide the default checkbox */
.night-mode-toggle input[type="checkbox"] {
  display: none;
}

/* Styles for the slider track */
.night-mode-toggle .slider {
  position: relative;
  width: 50px;
  height: 26px;
  background-color: #a0a0a0; /* Track color in day mode */
  border-radius: 26px;
  transition: background-color 0.3s ease;
  
}

/* Styles for the slider thumb (circle) */
.night-mode-toggle .slider::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #ffffff; /* Thumb color in day mode */
  top: 2px;
  left: 2px;
  transition: left 0.3s ease; /* Add this line */
}

/* Styles for the slider thumb when in night mode */
.night-mode-toggle input[type="checkbox"]:checked ~ .slider .slider::before {
  left: 26px; /* Move the thumb to the right when in night mode */
  background-color: #000; /* Thumb color in night mode */
}


.night-mode-toggle.day input[type="checkbox"]:checked ~ .slider .slider::before {
  left: 2px; /* Move the thumb to the left when in day mode */

}

/* Styles for night mode */
.night-mode-toggle.night ~ .slider {
  background-color: #222; /* Track color in night mode */
  transition: left 0.3s ease; 
}

.night-mode-toggle.night input[type="checkbox"]:checked ~ .slider .slider::before {
  left: 26px; /* Move the thumb to the right when in night mode */
  background-color: #000; /* Thumb color in night mode */
}
/* Define the animation */
@keyframes slide {
  0% { left: 2px; }
  100% { left: 26px; }
}

.night-mode-toggle.night .slider::before {
  animation: slide 0.3s forwards;
}

.night-mode-toggle.day .slider::before {
  animation: slide 0.3s forwards reverse;
}

/* Add these classes to the slider when it's clicked or checked */
.night-mode-toggle .slider.clicked::before {
  transition: left 0.3s ease;
}

.night-mode-toggle .slider.checked::before {
  transition: left 0.3s ease;
}
.prompt-header{
  font-family: 'Alexandria', 'Arimo', sans-serif;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em;
  padding: 20px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 50%;
}
@media (min-width: 1440px) {
  .prompt-header{
    font-size: 3em;
  }
}
.circle {
  position: absolute;
  background-color: #3498db;
  border-radius: 50%;
  animation: expand 3s linear infinite, move 3s linear infinite;
}

@keyframes expand {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes move {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
}

@keyframes interact {
  0%, 100% {
    background-color: #e74c3c;
  }
  50% {
    background-color: #3498db;
  }
}
/* styles.css */

.glow {
  box-shadow: 0 0 100px rgba(52, 152, 219, 0.7);
}
@keyframes slide-down {
  0% {
    top: 200px;
    opacity: 0; /* Add this line */
  }
  100% {
    top: -200px; /* Change this value as needed */
    opacity: 1; /* Add this line */
  }
}

.message-box {
  position: absolute;
  top: -200px;
  right:  20px;
  width: 350px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  font-size: 1.25em;
  animation: slide-down 0.25s ease-out forwards;
    transition: all 0.5s ease-out, opacity 0.5s ease-out; /* Add this line */
    
}

.message-box:hover {
  top: 20px; /* Change this value as needed */
  opacity: 1; /* Add this line */
} 
.night-mode .message-box {
  border-color: black; /* Border color in night mode */
}
}